name: 'article_service'

services:
  
  domic.article.api:
    networks:
      - domic
    image: article_service_image:1.0.0
    container_name: "article_service_api"
#    deploy:
#      resources:
#        limits:
#          memory: 60M
#        reservations:
#          memory: 60M
    build:
      context: .
      dockerfile: Dockerfile
    restart: on-failure
    ports:
      - "1020-1040:443"
    volumes:
      - ~/services/Logs/Domic-ArticleService/:/app/CoreLogs
      - ~/services/Domic-ArticleService/.https/:/https/
    environment:
      - Elastic-Host=http://domic.elastic.search:9200
      - Elastic-Index=article
      - Elastic-Username=domic
      - Elastic-Password=Domic123!@#
      - E-RabbitMQ-Host=domic.rabbit.mq
      - E-RabbitMQ-Port=5672
      - E-RabbitMQ-Username=domic
      - E-RabbitMQ-Password=Domic123!@#
      - I-RabbitMQ-Host=
      - I-RabbitMQ-Port=
      - I-RabbitMQ-Username=
      - I-RabbitMQ-Password=
      - E-RedisConnectionString=domic.redis:6379
      - I-RedisConnectionString=domic.redis:6379
#     - I-RedisConnectionString=domic.article.redis:6379
      - MongoConnectionString=
      - C-SqlServerConnectionString=Server=domic.sql.server,1433;Database=ArticleService;User ID=sa;Password=Domic123!@#;MultipleActiveResultSets=true;Integrated Security=false;TrustServerCertificate=True;
#     - C-SqlServerConnectionString=Server=domic.article.sql.server,1433;Database=ArticleService;User ID=sa;Password=Domic123!@#;MultipleActiveResultSets=true;Integrated Security=false;TrustServerCertificate=True;
      - Q-SqlServerConnectionString=
      - Host=domic.article.api
      - Port=443
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=https://+:443;http://+:80
      - ASPNETCORE_Kestrel__Certificates__Default__Password=Domic123!@#
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/Domic.WebAPI.pfx
#   depends_on:
#     - domic.article.sql.server
#     - domic.article.redis
  
# domic.article.sql.server:
#   networks:
#     - domic
#   image: 'mcr.microsoft.com/mssql/server'
#   container_name: 'article_sql_server'
#   ports:
#     - 1500:1433
#   environment:
#     - ACCEPT_EULA=Y
#     - SA_PASSWORD=Domic123!@#
  
# domic.article.redis:
#   networks:
#     - domic
#   image: 'redis'
#   container_name: 'article_redis'
#   command: 'redis-server'
#   ports:
#     - 6400:6379

networks:
  domic:
    external: true